*-build-*
*.a
*.autosave
*.dll
*.dylib
*.la
*.lai
*.lo
*.moc
*.o
*.pro.user
*.pro.user.*
*.qm
*.qmlproject.user
*.qmlproject.user.*
*.slo
*.so
/.qmake.cache
/.qmake.stash
Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h
