[Desktop Entry]
Categories=Development;
Comment=Open-source, cross-platform Qt based IDE for reverse-engineering Android application packages.
Exec=apkstudio
Name=ApkStudio
Icon=icon
Terminal=false
Type=Application
